RACK_ENV=development
PORT=3000

SECRET_KEY_BASE=
PAYPAL_API_MODE=test
PAYPAL_API_USERNAME=
PAYPAL_API_PASSWORD=
PAYPAL_API_SIGNATURE=

CARRIERWAVE_STORAGE=file

DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_ACCESS_TOKEN=
DROPBOX_ACCESS_TOKEN_SECRET=
DROPBOX_USER_ID=
