section {
  @include outer-container;
  article {
    @include span-columns(12);

    @include media($medium-screen) {
      @include shift(1);
      @include span-columns(10);
      @include shift(1);
    }

    .hero {
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
      img{
        margin-left: auto;
        margin-right: auto;
      }
    }
    .steps {
      @include outer-container;
      @include media($medium-screen) {
        @include shift(1);
        @include span-columns(10);
        @include shift(1);
      }
      margin-bottom: 2em;
    }
    .buy-now {
      padding: 0.75em 2em;
    }
    .actions {
      @include outer-container;
      .order {
        input {
          float:right;
        }
        @include media($medium-screen) {
          @include shift(8);
          @include span-columns(4);
        }
      }
    }
    .actions-with-previous-step {
      @include outer-container;
      .previous {
        @include media($medium-screen) {
          @include span-columns(8);
        }
      }
      .next {
        text-align: right;
        input {
          float:right;
        }
        @include media($medium-screen) {
          @include span-columns(4);
        }
      }
    }
    .attendee {
      .name, .contact_others {
        @include outer-container;
        .col {
          @include span-columns(6)
        }
      }
    }
    .footer {
      @include outer-container;
      margin-top: 3em;
      text-align: center;
      margin-bottom: 2em;
    }
  }
}

.tables {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12%);
  $table-header-background: lighten($table-background, 10%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background: darken($table-background, 2%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  $table-padding: 0.75em 1em;
  $table-special-row-color: #fffdc7;

  border-collapse: separate;
  border-left: 0px;
  border-radius: $base-border-radius;
  border-spacing: 0;
  border: $table-border;
  width: 100%;

  tbody {
    background-color: $table-background;

    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover > td {
        background-color: $table-stripe-background-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead, tfoot {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      padding: $table-padding;
      text-align: left;

      &:first-child {
        border-left: none;
      }
    }
  }

  tfoot {
    th {
      background-color: $action-color;
      color: #fff;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      &:first-child {
        border-left: none;
      }


      button {
        display: inline-block;
        font-size: 0.7em;
        line-height: $base-line-height;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }

    tr.coupon>td {
      background-color: $table-special-row-color;
    }
  }

  td, th {
    &.price {
      text-align: center;
    }
  }
}

$stepColor: #F7F7F7;
$stepColorHover: #41A4F0;
$stepColorCompleted: #1C91E9;
$textColor: #666;
$textColorCompleted: #fff;

.step-indicator {
  margin-bottom: 20px;
  line-height: 30px;
}

.step {
  display: block;
  float: left;
  font-weight: bold;
  background: $stepColor;
  padding-right: 10px;
  height: 30px;
  line-height: 32px;
  margin-right: 33px;
  position: relative;
  text-decoration: none;
  color: $textColor;
  cursor: default;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
    border-color: $stepColor;
    border-left-color: transparent;
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: $stepColor;
  }

  &:first-of-type {
    border-radius: 2px 0 0 2px;
    padding-left: 15px;

    &:before {
      display: none;
    }
  }

  &:last-of-type {
    border-radius: 0 2px 2px 0;
    margin-right: 25px;
    padding-right: 15px;

    &:after {
      display: none;
    }
  }

  &.completed {
    background: $stepColorCompleted;
    color: $textColorCompleted;
    cursor: pointer;

    &:before {
      border-color: $stepColorCompleted;
      border-left-color: transparent;
    }

    &:after {
      border-left-color: $stepColorCompleted;
    }

    &:hover {
      background: $stepColorHover;
      border-color: $stepColorHover;
      color: $textColorCompleted;
      text-decoration: none;

      &:before {
        border-color: $stepColorHover;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: $stepColorHover;
      }
    }
  }
}

.coupon-code {
  @include media($medium-screen) {
    @include shift(8);
    @include span-columns(4);
  }
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  margin-top: 1em;
  position: relative;
  margin-bottom: 1.7em;

  input.code-field{
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button.apply-code-btn {
    @include button(flat, $green);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
  }
}

$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  @include span-columns(12);
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

.button-group {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-size: 1em !default;
  $base-background-color: white !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $button-group-background: $base-background-color;
  $button-group-color: lighten($base-font-color, 30%);
  $button-group-border: 1px solid silver;
  $button-group-inner-border: 1px solid lighten(silver, 18%);
  $button-group-background-checked: $action-color;
  $button-group-color-checked: white;
  $button-group-border-checked: darken($button-group-background-checked, 15%);

  input {
    display: none;
  }

  label {
    margin-bottom: 0;

    @include media($large-screen) {
      float: left;
    }

    .button-group-item {
      background: $button-group-background;
      border-left: $button-group-border;
      border-radius: 0;
      border-right: $button-group-border;
      color: $button-group-color;
      cursor: pointer;
      display: inline-block;
      font-size: $base-font-size;
      font-weight: normal;
      line-height: 1;
      padding: 0.75em 1em;
      width: 100%;

      @include media($large-screen) {
        border-bottom: $button-group-border;
        border-left: 0;
        border-right: $button-group-inner-border;
        border-top: $button-group-border;
        width: auto;
      }

      &:focus,
      &:hover {
        background-color: darken($button-group-background, 3%);
      }
    }

    &:first-child .button-group-item {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: $button-group-border;

      @include media($large-screen) {
        border-bottom-left-radius: $base-border-radius;
        border-left: $button-group-border;
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: 0;
      }
    }

    &:last-child .button-group-item {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-bottom: $button-group-border;

      @include media($large-screen) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $base-border-radius;
        border-right: $button-group-border;
        border-top-right-radius: $base-border-radius;
      }
    }

    input:checked + .button-group-item {
      background: $button-group-background-checked;
      border: 1px solid $button-group-border-checked;
      box-shadow: inset 0 1px 2px darken($button-group-background-checked, 10%);
      color: $button-group-color-checked;
    }
  }
}

